body{
    color: rgb(255, 179, 0, 0.91);
    background: rgb(193, 23, 23);
    margin: 0px;
    font-family: "Playfair Display", serif;
}

header{
    border-bottom:solid 2px rgb(244, 91, 9);
    padding: 20px;
    font-size: 32px;
    color: rgb(228, 228, 228);
}

section{
    background:rgb(170, 4, 4);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin=right 5%;
}

h1{
    font-size: 40px
}

h2{
    font-size: 40px
}

h3{
    font-size: 40px
}

h4{
    font-size: 40px
}

h5{
    font-size: 40px
}

h6{
    font-size: 40px
}


p{
    font-size: 20px
}

img{
    height: 100px;
}